<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" href="public/styles/main.css">
       <link rel ="stylesheet" type="text/css" href="public/styles/new_trip.css">
    <title>new_trip</title>
</head>
<body class="home-page">
    <div class="app-container">
        <aside class="sidebar">
            <header class="header">
                <div class="logo-container">
                    <img src="public/uploaded/logo.png" class="logo-icon">
                    <span class="logo-text">MyAdventure</span>
                </div>
                <hr class="header-divider">
            </header>
            <div class="sidebar-content">
                <div class="user-profile">
                    <span class="user-name">John Doe</span>
                    <span class="user-email">john.doe@email.com</span>
                </div>
                <nav class="side-nav">
                    <a href="#" class="nav-item active">
                        <img src="public/uploaded/curve_icon.png" class="icon">
                        <span>My Trips</span> 
                    </a>
                    <a href="#" class="nav-item">
                        <img src="public/uploaded/stats_icon.png" class="icon">
                        <span>Stats</span>
                    </a>                       
                            
                    <button class="btn-add-trip">Add New Trip</button>
                </nav>
            </div>
            <div class="side-bottom">
                <a href="#" class="nav-item">
                    <img src="public/uploaded/settings_icon.png" class="icon">
                    <span>Settings</span>
                </a>
                <a href="#" class="nav-item logout">
                    <img src="public/uploaded/logout_icon.png" class="icon">
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <main class="main-content">
            <h1>Add New Adventure</h1>
            
            <div class="new-adventure-card">
                
                <div class="upload-section">
                    <button type="button" class="btn-add-trip" onclick="document.getElementById('gpx-input').click()">
                        <span>📄 Upload GPX file</span>
                    </button>
                    
                    <input type="file" id="gpx-input" accept=".gpx" style="display:none;">
                    
                    <p id="file-status" style="margin-top: 10px; color: green;"></p>
                </div>

                <div class="messages">
                    <?php if(isset($messages)): ?>
                        <?php foreach($messages as $message): ?>
                            <p><?= $message; ?></p>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
                
                <form class="adventure-form" action="/new_trip" method="POST">                   
                    <div class="form-group">
                        <div>
                            <label id="distance-display">Distance: 0.00 km</label>
                        </div>
                        <div>
                            <label id="elevation-display">Elevation: 0 m</label>
                        </div>
                    </div>

                    <input type="hidden" name="distance" id="distance-hidden">
                    <input type="hidden" name="elevation" id="elevation-hidden">

                    <div class="form-group">
                        <label>Trip Title</label>
                        <input type="text" name="title" placeholder="Enter trip title">
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description" rows="4" placeholder="How was your trip?"></textarea>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date" name="date">
                        </div>
                        <div class="form-group">
                            <label>Difficulty</label>
                            <select name="difficulty">
                                <option>Easy</option>
                                <option selected>Moderate</option>
                                <option>Hard</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-buttons">
                        <button type="button" class="btn-add-trip" onclick="window.location.href='/home'">
                            Cancel
                        </button>
                        <button type="submit" class="btn-add-trip">Save</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
    <script src="public/scripts/GPXParser.min.js"></script>
    <script src="public/scripts/gpx-logic.js"></script>
</body>
</html>