<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" href="public/styles/main.css">
       <link rel ="stylesheet" type="text/css" href="public/styles/register.css">
    <title>register</title>
</head>
<body>
    <div class="background-overlay">
        <form action="/register" method="POST">
            <h1>Create Your MyAdventure Account</h1>
            <div class="messages">
                <?php if(isset($messages)): ?>
                    <?php foreach($messages as $message): ?>
                        <p><?= $message; ?></p>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
            <h4>Start tracking your adventures</h4>
            
            <div class="input-group">
                <label>Name</label>
                <input name="firstName" type = "text" placeholder="Enter your name" />

                <label>Surname</label>
                <input name="lastName" type = "text" placeholder="Enter your surname" />
                
                <label>Email</label>
                <input name="email" type="email" placeholder="Enter your email" />
                
                <label>Password</label>
                <input name="password" type="password" 
                        placeholder="Enter your password" 
                        required 
                        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d\W_]{8,}$"
                        title="Min. 8 characters, at least one letter and one number and one special character.">
                
                <label>Confirm Password</label>
                <input name="password2" type="password" placeholder="Confirm your password" />
            </div>
            <button type="submit" class="btn-signup">Sign Up</button>
            <button type="button" class="btn-cancel" onclick="window.location.href='/login'">Cancel</button>
        </form>
    </div>
</body>
</html>