<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" href="public/styles/main.css">
       <link rel ="stylesheet" type="text/css" href="public/styles/stats.css">
    <title>stats</title>
</head>
<body class="home-page">
    <div class="app-container">
        <aside class="sidebar">
            <header class="header">
                <div class="logo-container">
                    <img src="public/uploaded/logo.png" class="logo-icon">
                    <span class="logo-text">MyAdventure</span>
                </div>
                <hr class="header-divider">
            </header>
            <div class="sidebar-content">
                <div class="user-profile">
                    <span class="user-name"><?= $user['firstName']; ?> <?= $user['lastName']; ?></span>
                    <span class="user-email"><?= $user['email']; ?></span>
                </div>
                <nav class="side-nav">
                    <a href="/home" class="nav-item <?= $_SERVER['REQUEST_URI'] == '/home' ? 'active' : '' ?>">
                        <img src="public/uploaded/curve_icon.png" class="icon">
                        <span>My Trips</span> 
                    </a>
                    <a href="/stats" class="nav-item <?= $_SERVER['REQUEST_URI'] == '/stats' ? 'active' : '' ?>">
                        <img src="public/uploaded/stats_icon.png" class="icon">
                        <span>Stats</span>
                    </a>
                    <?php if(isset($user['role']) && $user['role'] === 'admin'): ?>
                        <a href="/users" class="nav-item">
                            <img src="public/uploaded/settings_icon.png" class="icon"> 
                            <span>Users</span>
                        </a>
                    <?php endif; ?>                       
                            
                    <button type="button" class="btn-add-trip" onclick="window.location.href='/new_trip'">
                        Add New Trip
                    </button>
                </nav>
            </div>
            <div class="side-bottom">
                <a href="/logout" class="nav-item logout">
                    <img src="public/uploaded/logout_icon.png" class="icon">
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <main class="main-content">
           <h1>My Hiking Statistics</h1>
            <div class="stats-grid">
                <div class="stats-card large">
                    <span class="stats-label">Total Distance</span>
                    <div class="stats-value"><?= number_format($stats['total_distance'], 1, '.', ' '); ?> km</div>       
                    </div>

                <div class="stats-card small">
                    <span class="stats-label">Total trips</span>
                    <div class="stats-value"><?= $stats['total_trips']; ?></div>
                </div>

                <div class="stats-card small">
                    <span class="stats-label">Highest peak</span>
                    <div class="stats-value"><?= number_format($stats['highest_peak'], 0, '.', ' '); ?> m a.s.l</div>
                </div>

                <div class="stats-card small">
                    <span class="stats-label">Total Elevation Gain</span>
                    <div class="stats-value"><?= number_format($stats['total_elevation'], 0, '.', ' '); ?> m</div>
                </div>
            </div> 
        </main>
    </div>
</body>
</html>