:root {
    --text-white: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width: 100%;
    position: absolute; 
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 10;
}


label {
    color: whitesmoke;
    font-size: 0.9rem;
}

.messages {
    color: red;
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.logo-icon {
    height: 30px; 
    width: auto;
}

.logo-text {
    color: var(--text-white);
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.header-divider {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1); /* Subtelna, półprzezroczysta linia */
    margin: 0;
}
 
 
@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }
 
    aside {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}